tela1{
    background-color: red;
    height: 100px;
    width: 100px;
    }
    .tela2{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: none;
    }
    .tela3{
    background-color: green;
    height: 100px;
    width: 100px;
    display: none;
    }  